<header class="header">

    <nav class="nav_links">
        <ul>
            <li><a href="#">Accueil</a> </li>
            <li><a href="#">Programmation</a> </li>
            <li><a href="#">Artistes</a></li>
            <li><a href="#">Infos</a></li>
        </ul>
    </nav>
   
</header>